<div class="header">
  <mat-toolbar color="primary">
    <div class="hamburger" (click)="toggleSidebar()">
      <div></div>
      <div></div>
      <div></div>
    </div>

    <a class="title" href="#">
      <img src="icon.png" alt="Team icon">
      TEAM EXPLORATION
    </a>

    <div class="menu">
      <a mat-button href="/#definition" class="menu-item">Definition</a>
      <a mat-button href="/#history" class="menu-item">History</a>
      <a mat-button href="/#perceptions" class="menu-item">Perceptions</a>
      <a mat-button href="/#context" class="menu-item">Context</a>
      <a mat-button href="/#word-forms" class="menu-item">Word Forms</a>
    </div>

  </mat-toolbar>
</div>

<div class="sidebar" [class.open]="sidebarOpened">
  <ul class="sidebar-menu">
    <li><a mat-button href="/#definition" class="side-bar-item">Definition</a></li>
    <li><a mat-button href="/#history" class="side-bar-item">History</a></li>
    <li><a mat-button href="/#perceptions" class="side-bar-item">Perceptions</a></li>
    <li><a mat-button href="/#context" class="side-bar-item">Context</a></li>
    <li><a mat-button href="/#word-forms" class="side-bar-item">Word Forms</a></li>
  </ul>
</div>

<div class="content" [class]="{'normal': !sidebarOpened, 'shifted': sidebarOpened}">
  <img class="team-logo" src="team.png" alt="Team logo">
  <section class="general-section-style" id="definition">
    <h2 class="section-title">Definition</h2>
    <div class="image-definitions">
      <img src="dictionary.png" alt="Dictionary image">
      <div class="definitions">
        <div class="first-definition">
          <p class="definition-team">TEAM <span>(noun)</span></p>
          <p>A group of individuals who work together to achieve a common goal, with each member contributing their skills and responsibilities in a coordinated way.</p>
        </div>
        <div class="second-definition">
          <p class="definition-team">TEAM <span>(sports)</span></p>
          <p>A group of athletes who compete together in a sport or game, aiming to achieve a better outcome than the opposing teams.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="general-section-style" id="history">
    <h2 class="section-title">History</h2>
    <div class="history-image-text">
      <div class="text-column">
        The word "team" comes from Old English, where the form "team" or "teama" was used to refer to a "team of horses" or a "draught cart," which was pulled by several horses. It originates from the Germanic word "*team" or "*tēman," which meant "to gather" or "to assemble," relating to the idea of a group of animals working together to perform a task.
      </div>
      <img src="horses.png" alt="Horses image">
    </div>
    <div class="history-image-text">
      <div class="text-column">
        By the 14th century, the word evolved to mean a group of people working together on a common project, and this meaning continued to expand into various fields. By the 16th century, "team" was also used to refer to groups of people collaborating in sports or professional activities.
      </div>
      <img src="workers.png" alt="Workers image">
    </div>
    <div class="history-image-text">
      <div class="text-column">
        Thus, "team" evolved from a concept tied to animals and physical labor to broader meanings, including groups of workers as well as teams in fields like sports, business, or science.
      </div>
      <img src="team-sport.jpg" alt="Sport team image">
    </div>
  </section>


  <section class="general-section-style" id="perceptions">
    <h2 class="section-title">Perceptions</h2>
    <div class="image-perceptions">
      <img src="family.png" alt="Family image">
    </div>
    <div class="perceptions">
      <div class="perception">
        <p><span>Me:</span> A team is a place where everyone shares ideas, challenges each other to grow, and works together to achieve great things.</p>
      </div>
      <div class="perception">
        <p><span>My dad:</span> A team is like a family, where everyone contributes, and together we go further.</p>
      </div>
      <div class="perception">
        <p><span>My mom:</span> A team is a place where everyone helps and learns from each other to succeed together.</p>
      </div>
      <div class="perception">
        <p><span>My brother:</span> A team is a space where individualities merge to create something greater than what each could do alone.</p>
      </div>
      <div class="perception">
        <p><span>My girlfriend:</span> Team work makes dream work.</p>
      </div>
    </div>
  </section>

 <section class="general-section-style" id="context">
   <h2 class="section-title">Context</h2>
   <div class="contexts">
     <div class="context">
       <img src="it.jpg" alt="An image of colleagues discussing">
       <p>In <span>IT</span>, the team is responsible for developing, implementing, and maintaining software or technological infrastructure. This can include programmers, UX/UI designers, system analysts, and network engineers. Their collaboration ensures the delivery of a functional and high-quality final product.</p>
     </div>
     <div class="context">
       <img src="family.jpg" alt="Family image">
       <p>In a <span>family</span>, each member plays an important role, from parents who guide and protect, to children who learn and contribute to the family dynamic. The family team works together through mutual support, understanding, and collaboration to create a stable and harmonious environment.</p>
     </div>
     <div class="context">
       <img src="football.jpg" alt="Real Madrid 2017 team">
       <p>In <span>football</span>, the team is responsible for collaborating among players to achieve the common goal of winning the game. Each player has a specific role (forward, defender, midfielder, goalkeeper), and success depends on how well they work together and follow the coach’s strategy.</p>
     </div>
     <div class="context">
       <img src="teacher.jpg" alt="A teacher with students.">
       <p>In <span>education</span>, the team consists of teachers who guide and students who learn. The teacher is responsible for imparting knowledge and supporting the development of students, while students are responsible for learning and actively participating. Collaboration between the teacher and students helps create an effective educational environment.</p>
     </div>
     <div class="context">
       <img src="army.jpg" alt="Military image">
       <p>In the <span>military</span>, the team is responsible for executing missions within a unit. Team members may include soldiers, officers, and other personnel who must work together to follow orders and protect national security. Communication, discipline, and cooperation are crucial in a military team.</p>
     </div>
     <div class="context">
       <img src="doctors.jpg" alt="An image of several doctors and a patient">
       <p>In <span>healthcare</span>, the team consists of doctors, nurses, technicians, and other professionals who collaborate to provide care for patients. Each specialist has a specific role, and communication and teamwork are essential to deliver effective treatments and ensure the patient’s health</p>
     </div>
   </div>
 </section>

  <section class="general-section-style" id="word-forms">
    <h2 class="section-title">Word Forms</h2>
    <div class="word-forms">
      <div class="form">
        <p><span>Teamwork:</span> The collaboration among team members to achieve a common goal through communication and mutual support.</p>
      </div>
      <div class="form">
        <p><span>Teammate:</span> It refers to a person who is part of the same team.</p>
      </div>
      <div class="form">
        <p><span>Teamship:</span> The concept or spirit of a team, characterized by unity, cooperation, and mutual support within a group.</p>
      </div>


    </div>

  </section>

  <div class="quote-container">
    <div>
      <blockquote>
        "Talent wins games, but teamwork and intelligence win championships."
      </blockquote>
      <footer>- Michael Jordan</footer>
    </div>
    <div class="image-container">
      <img src="jordan.jpg" alt="Michael Jordan">
    </div>
  </div>

  <div class="footer">
      <a href="https://github.com/AndreiSuciu4" target="_blank">©Suciu Andrei</a>
  </div>

</div>
