/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.title {
  font-size: 1.6rem;
  font-weight: 600;
  color: darkgreen;
  margin-left: 3rem;
  text-decoration: none;
}

.title img {
  width: 2rem;
  height: 1.7rem;
}

.menu {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 43%;
  right: 1.5rem;
}

.menu-item {
  font-size: 1.1rem;
  font-weight: 500;
}

.sidebar {
  width: 100%;
  height: 100%;
}

@media (max-width: 1080px) {
  .title {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .title img {
    width: 1.5rem;
    height: 1.3rem;
  }

  .menu {
    width: 50%;
  }

  .menu-item {
    font-size: 1rem;
    font-weight: 500;
  }

  .content {
    width: 100%;
    margin-left: 0;
  }
}

@media (min-width: 850px) {
  .sidebar {
    display: none;
  }

  .menu {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}

@media (max-width: 850px) {
  .sidebar {
    display: block;
  }
  .hamburger {
    display: block;
    cursor: pointer;
    padding: 10px;
  }
  .hamburger div {
    width: 20px;
    height: 2px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  .menu {
    display: none;
  }
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 180px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: all 0.3s ease;
  padding-top: 5rem;
}

.sidebar a {
  color: white;
  text-decoration: none;
  padding: 10px;
  display: block;
  transition: background-color 0.3s;
}
.sidebar-menu{
  position: relative;
}

.sidebar a:hover {
  background-color: #575757;
}

.sidebar.open {
  left: 0;
}

@media (max-width: 500px) {
  .sidebar {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #333;
    color: white;
    transition: top 0.3s ease;
    padding-top: 1rem;
    margin-bottom: 50px;
  }

  .sidebar.open {
    top: 0;
  }

  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s;
  }

  .sidebar a:hover {
    background-color: #575757;
  }

  .sidebar-menu {
    position: relative;
  }

  .content.shifted {
    margin-left: 0;
    width: 100%;
  }
}
